kind: Secret
apiVersion: v1
metadata:
  namespace: openshift-cloud-credential-operator
  name: cloud-credential-operator-iam-ro-creds
type: Opaque
stringData:
  credentials: |
    [default]
    aws_access_key_id: '{{ aws_access_key_id }}'
    aws_secret_access_key: '{{ aws_secret_access_key_id }}'
    aws_session_token: '{{ aws_session_token }}'
