kind: Secret
apiVersion: v1
metadata:
  namespace: openshift-machine-api
  name: aws-cloud-credentials
type: Opaque
stringData:
  credentials: |
    [default]
    aws_access_key_id: '{{ aws_access_key_id }}'
    aws_secret_access_key: '{{ aws_secret_access_key_id }}'
{% if aws_session_token is defined %}
    aws_session_token: '{{ aws_session_token }}'
{% endif %}
